@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RegUserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegUserName" class="form-control" />
            <span asp-validation-for="RegUserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegFirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegFirstName" class="form-control" />
            <span asp-validation-for="RegFirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegLastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegLastName" class="form-control" />
            <span asp-validation-for="RegEmail" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegEmail" class="form-control" />
            <span asp-validation-for="RegEmail" class="text-danger"></span>
        </div>
    </div>



    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegCCnum" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegCCnum" class="form-control" />
            <span asp-validation-for="RegCCnum" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegBilltoAdd" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegBilltoAdd" class="form-control" />
            <span asp-validation-for="RegBilltoAdd" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegBilltoCity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegBilltoCity" class="form-control" />
            <span asp-validation-for="RegBilltoCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegBilltoState" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegBilltoState" class="form-control" />
            <span asp-validation-for="RegBilltoState" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegBilltoZip" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegBilltoZip" class="form-control" />
            <span asp-validation-for="RegBilltoZip" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="RegShiptoAdd" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegShiptoAdd" class="form-control" />
            <span asp-validation-for="RegShiptoAdd" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegShiptoCity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegShiptoCity" class="form-control" />
            <span asp-validation-for="RegShiptoCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegShiptoState" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegShiptoState" class="form-control" />
            <span asp-validation-for="RegShiptoState" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegShiptoZip" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegShiptoZip" class="form-control" />
            <span asp-validation-for="RegShiptoZip" class="text-danger"></span>
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
