@using Microsoft.AspNetCore.Identity
@using mytest.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                
                <a class="shoppingCart" id="Cart" title="ShoppingCart" style="margin-top:10px;background-size:30px; background-repeat: no-repeat;"> 
                  <b class="circle" style="color:black; position:absolute">
                    
                    @if (@ViewBag.ItemsInCart > 99)
                    {
                        <i style="font-size:10px">+99</i>
                    }
                    else
                    {
                        @ViewBag.ItemsInCart

                    }

                  </b>
                    
                </a>

            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
