@model AccountInformationViewModel
@{
    ViewData["Title"] = "Account Information:";
    


}

<h2>@ViewData["Title"].</h2>



<form asp-controller="Manage" asp-action="AccountInfo" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    
   


    <h4>Account Informations:.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewUserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewUserName" class="form-control" />
            <span asp-validation-for="NewUserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewFirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewFirstName" class="form-control" />
            <span asp-validation-for="NewFirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewLastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewLastName" class="form-control" />
            <span asp-validation-for="NewLastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewEmail" class="form-control" />
            <span asp-validation-for="NewEmail" class="text-danger"></span>
        </div>
    </div>




    
    


    <div class="form-group">
        <label asp-for="NewBilltoAdd" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewBilltoAdd" class="form-control" />
            <span asp-validation-for="NewBilltoAdd" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewBilltoCity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewBilltoCity" class="form-control" />
            <span asp-validation-for="NewBilltoCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewBilltoState" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewBilltoState" class="form-control" />
            <span asp-validation-for="NewBilltoState" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewBilltoZip" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewBilltoZip" class="form-control" />
            <span asp-validation-for="NewBilltoZip" class="text-danger"></span>
        </div>
    </div>
    


    <div class="form-group">
        <label asp-for="NewShiptoAdd" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewShiptoAdd" class="form-control" />
            <span asp-validation-for="NewShiptoAdd" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewShiptoCity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewShiptoCity" class="form-control" />
            <span asp-validation-for="NewShiptoCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewShiptoState" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewShiptoState" class="form-control" />
            <span asp-validation-for="NewShiptoState" class="text-danger"></span>
        </div>
    </div>



    <div class="form-group">
        <label asp-for="NewShiptoZip" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewShiptoZip" class="form-control" />
            <span asp-validation-for="NewShiptoZip" class="text-danger"></span>
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Add</button>

        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}