@model IEnumerable<mytest.Models.Book>

@{
    ViewData["Title"] = "ViewBooks";
}

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="form-group">
                <br />
                @using (Html.BeginForm("ViewBooks", "Book", FormMethod.Get))
                {
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Book Name, Author or ISBN" })
                }
            </div>
        </div>

    </div>
</div>

<br />

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="3" style="color:red">
            No match any document
        </td>
    </tr>
}
<div class="row" height="220">
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <div class="col-lg-2 col-md-4 col-sm-2 col-xs-5" style="height:450px">
                <a href="ShowBook?field=@item.ISBN">
                    <div class="thumbnail hvr-grow">
                        <img src="@item.Image" style="height:250px; width:250px">
                        <div class="caption">
                            <h7>@item.Title</h7>
                            <br/>
                            <h7>
                                 <a href="ShowAuthor?field=@item.Author">@item.Author</a>
                                <br />$@item.Price
                            </h7>
                            <p><a href="#" class="btn btn-primary" role="button">Add To Cart</a></p>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>