@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your purchase has been confirmed.</strong></p>
    <hr>
    
    <p class="lead">
        <a class="btn-success btn-sm" href="../Home/Index" role="button">Continue Buying</a>
    </p>
</div>