@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Andreina Rojas, 
    Elio Rosabal, 
    Isaac Reynaldo, 
    Neil Saenz, 
    Jorge Rodriguez
</address>

