@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">Sorry!</h1>
    <p class="lead"><strong>It looks like your cart its empty or you did not have any checked item to buy.</strong></p>
    <hr>

    <p class="lead" style="text-align:center">
        <a class="btn-danger btn-sm" href="../Home/ShoppingCart" role="button">Back to Shopping Cart</a>
    <a class="lead" style="float:right">
        <a class="btn-warning btn-sm" href="../Home/Index" role="button">Back to Index</a>
    </a>
     </p>
</div>